form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 400px;
    background-color: rgb(193, 204, 153);
    padding: 20px;
    border-radius: 10px;
}
legend {
    text-align: center;
    font-weight: bold;
}
input, textarea {
    border-radius: 5px;
}
input {
    width: 60%;
    padding: 5px 0;
}
input::placeholder, textarea::placeholder {
    padding-left: 5px;
}
textarea::placeholder {
    padding-top: 5px;
}
#bug-submit, .clear-bug {
    cursor: pointer;
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.bugs {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    border: 5px solid rgb(245, 166, 91);
    border-radius: 10px;
    padding: 10px;
}
.bug-title {
    font-weight: bold;
}
.timestamp {
    position: absolute;
    right: 10px;
}
.clear-bug {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgb(139, 189, 139);
}
.default-bug {
    text-align: center;
}
.bug {
    margin: 15px 0;
}
